<header>
    <img src="/assets/img/burger.png" alt="burger image">
    <h1>Eat-Da-Burger!</h1>
</header>

<div class="container-flex burgers">

    <div class="toEat">
        <ol>
            {{#each burgers}} {{#unless devoured}}
            <li> {{burger_name}}<button class="btn btn-secondary btn-sm eat-it" data-id="{{id}}">Eat it!</button></li> {{/unless}} {{/each}}
        </ol>
    </div>

    <div class="eaten">
        <ol> {{#each burgers}} {{#if devoured}}
            <li> {{burger_name}}<button class="btn btn-secondary btn-sm forget-it" data-id="{{id}}">Forget it!</button></li> {{/if}} {{/each}}
        </ol>

    </div>
</div>

<section class="container">
    <form>
        <div class="form-group">
            <textarea class="form-control" id="burgerText" cols="3" rows="3"></textarea>
            <button type="submit" class="btn btn-primary submit-burger">Submit</button>
        </div>
    </form>
</section>